/BalkonsWeaponMod1.2.5.jar
/CCPlugin.jar
/AdditionalPipes-2.1.3-MCPC1.2.5-r3.zip
/advancedMachines_4.0_bukkit.zip
/buildcraft-2.2.14-mcpc1.2.5-r8.zip
/mod_chargingbench-server-1.95b-mcpc1.2.5-r2.zip
/EnderStorage-Bukkit 1.1.3r2.zip
/mod_NetherOres.jar
/mod_ironchests-server-3.8.0.40-bukkit-mcpc-1.2.5.zip
/mffs_rev7_for_1.2.5-bukkit.zip
/mod_compactsolars-server-2.3.2.10-bukkit-mcpc-1.2.5.zip
/ComputerCraftBukkit1.41.zip
/mod_IC2NuclearControl-1.1.10b-mcpc-r1.zip
/industrialcraft2-1.103-mcpc1.2.5-r2.zip
/CodeChickenCore-Bukkit 0.5.3r3.zip
/EE2ServerV1.4.6.5-bukkit-mcpc-1.2.5-r5.zip
/immibis-core_49.1.1_for_1.2.5-bukkit.jar
/NotEnoughItems-Bukkit 1.2.2.3r3.zip
/redpower-all-2.0p5b2-mcpc1.2.5-r19.zip
/Railcraft-5.4.7-MCPC-1.2.5-r7.zip
/PowerConverters-1.3.4-mcpc78-r1.zip
/tubestuff_49.1.2_for_1.2.5-bukkit.jar
/WR-CBE RedPower-Bukkit 1.2.2.1.zip
/zdimensional-anchor_rev3.2_for_1.2.5-bukkit.jar
/WR-CBE Addons-Bukkit 1.2.2.3.zip
/WR-CBE Core-Bukkit 1.2.2.3r2.zip.zip
/ccSensors
